export(adddd)
export(addDirDef)
export(cap)
export(capitalize)
export(combinePath)
export(deletedd)
export(deleteDirDef)
export(dir.aux)
export(dir.bak)
export(dir.bin)
export(dir.cel)
export(dir.chp)
export(dir.class)
export(dir.csv)
export(dir.dat)
export(dir.dir)
export(dir.dll)
export(dir.doc)
export(dir.docx)
export(dir.dvi)
export(dir.dylib)
export(dir.eps)
export(dir.excel)
export(dir.extension)
export(dir.file)
export(dir.folder)
export(dir.gz)
export(dir.h)
export(dir.hidden)
export(dir.hpp)
export(dir.inf)
export(dir.java)
export(dir.jpeg)
export(dir.jpg)
export(dir.log)
export(dir.missing)
export(dir.pdf)
export(dir.png)
export(dir.ppt)
export(dir.r)
export(dir.R)
export(dir.rdata)
export(dir.Rdata)
export(dir.RData)
export(dir.rhistory)
export(dir.Rhistory)
export(dir.RHistory)
export(dir.rpt)
export(dir.sl)
export(dir.so)
export(dir.sys)
export(dir.tex)
export(dir.txt)
export(dir.word)
export(dir.xls)
export(dir.xlsx)
export(editdd)
export(editDirDef)
export(fext)
export(fileExtension)
export(fileName)
export(fname)
export(getdd)
export(getDirDef)
export(h)
export(is.bin)
export(is.cel)
export(is.dir)
export(is.extension)
export(is.file)
export(is.folder)
export(is.pdf)
export(is.r)
export(is.R)
export(is.rdata)
export(is.Rdata)
export(is.RData)
export(is.txt)
export(leftTrim)
export(ltrim)
export(movedd)
export(moveDirDef)
export(rightTrim)
export(rtrim)
export(showdd)
export(showDirDef)
export(strrep)
export(strReplace)
export(swapdd)
export(swapDirDef)
export(sym2str)
export(symbolToString)
export(trim)
export(updatedd)
export(updateDirDef)
